body {
	background: #141414;
	color: #ffffff;
}

.movie-main-tile {
	padding: 20px;
	width: 400px;
	height: 400px;
	position: relative;
	transition: transform 0.2s;
}

.image-container {
	width: 100%;
	height: 95%;
}

.image-container > img{
	width: 100%;
	height: 100%;
}

.movie-main-tile:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.movie-main-tile:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
